.header {

  &__top {
    padding: 17px 0 15px;
    background-color: $dark-800;

    @include media-3 {
      padding: 15px 0;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;

    @include media-3 {
      padding: 10px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {

    margin-right: 24px;

    @include media-1 {
      margin-right: 15px;
    }

    @include media-3 {
      margin-right: 10px;
    }
  }

  &__form {

    margin-right: 33px;

    @include media-1 {
      max-width: 550px;
      margin-right: 20px;
    }

    @include media-2 {
      max-width: 340px;
      margin-right: 0;
    }

    @include media-3 {
      max-width: 440px;
    }

    @include media-4 {
      display: none;
    }

    .form-search {
     
      &__btn {

        @include media-1 {
          padding: 15px 30px;
        }

        @include media-2 {
          padding: 15px 20px;
        }

        @include media-3 {
          padding: 15px;
        }
      }

      &__input {
        @include media-2 {
          padding-left: 40px;
        }
      }
    }

    &--active {
      display: flex;
      position: absolute;
      top: 112px;
      left: 0;
      max-width: 100%;
      transition: all 0.3s;
      z-index: 10000;

      .form-search {

        &__input {
          padding-top: 14px;
          padding-bottom: 14px;
          border: 1px solid $dark-800;
        }

        &__btn {
          padding: 15px 26px;
          border-radius: 0;
        }
      }
    }
  }
}