.promo {
  background-color: $silver-100;
  padding: 72px 0;

  @include media-4	{
    padding: 48px 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @include media-1 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-2 {
      grid-gap: 15px;
    }

    @include media-3 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-4 {
      grid-template-columns: repeat(1, 1fr);
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 32px;
    @include media-4	{
      margin-bottom: 24px;
    }
  }

  &__filter-menu {
    margin-bottom: 48px;
    .filter-menu {
      &__categories {
        padding: 0;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  &__product-card {
    padding: 11px 11px 11px;
    background-color: $white;
    display: block;

    .product-card {

      &__inner {
        display: flex;
        height: 100%;

        @include media-2 {
          justify-content: center;
        }

        @include media-4 {
          justify-content: center;
        }
      }

      &__link-img {
        margin-right: 12px;
        width: 100px;
        padding-bottom: 36%;

        @include media-2 {
          margin-right: 6px;
        }

        @include media-3 {
          margin-right: 8px;
        }

        @include media-4 {
          margin-right: 12px;
          padding-bottom: 36.2%;
          padding-left: 33%;
        }

        &::before,
        &::after {
          display: none;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 164px;
        width: 100%;
        margin-top: 0;

        @include media-2 {
          width: 100px;
        }

        @include media-3 {
          width: 120px;
        }

        @include media-4 {
          max-width: 164px;
          width: 100%;
        }
      }

      &__wrapper-bottom {
        width: 100%;
      }

      &__link {
        display: block;
        max-height: 58px;
        margin-bottom: 6px;
        @include line-clamp(3);

        @include media-2 {
          margin-bottom: 10px;
        }
        @include media-4	{
          margin-bottom: 5px;
        }
      }

      &__availability {
        .availability {
          @include media-2 {
            margin-bottom: 10px;
          }

          @include media-4 {
            margin-bottom: 5px;
          }
        }
      }

      &__prises {
        display: flex;

        @include media-2 {
          display: block;
        }

        @include media-4 {
          display: flex;
        }

        .prises {

          &__item {
            font-size: 20px;
            font-weight: 600;
            color: $dark-500;
            margin-right: 12px;
            margin-top: 2px;
            order: 1;
            @include media-2 {
              font-size: 18px;
            }
            span {
              font-size: 14px;
            }
    
            &--old {
              display: block;
              font-size: 12px;
              align-self: flex-end;
              color: $silver-600;
              margin-bottom: 0;
              margin-right: 0;
              order: 2;
              span {
                font-size: 12px;
              }
            }
          }
        }
      }

      &__currency {
        font-size: 14px;
      }
    }
  }

  &__more {
    display: block;
    margin: 0 auto;
  }
}