.top-products {
  padding: 72px 0;

  @include media-4	{
    padding: 48px 0;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
    @include media-4	{
      margin-bottom: 21px;  
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @include media-1 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-2 {
      grid-gap: 15px;
      margin-bottom: 30px;
    }

    @include media-4 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      margin-bottom: 24px;
    }
  }

  &__more {
    display: block;
    margin: 0 auto;
  }

  .product-card {

    &__favourite {
      &::before {
        @include media-4 {
          width: 24px;
          height: 21px;
        }
      }
    }

    &__wrapper {
      @include media-4	{
        margin: 15px 12px 11px;
      }
    }
  }
}