@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  &__top {
    padding: 17px 0 15px;
    background-color: $dark-800;
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    color: $white;
    @extend %opensans-700;
    font-size: 13px;
    letter-spacing: 0.03em;
    line-height: 17.7px;
    text-transform: uppercase;
  }

  &__list-items:not(:last-child) {
    padding-right: 48px;
  }

  &__list-item:not(:last-child) {
    padding-right: 24px;
  }

  &__list-items {
    position: relative;
  }

  &__link {
    transition: box-shadow 0.3s;

    &::before {
      position: absolute;
      @extend %for-images;
      content: "";
      left: 0;
      top: -4px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }
  }

  &__link--delivery {
    padding-left: 44px;
    transition: opacity 0.3s, color 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      color: $green-200;
    }

    &:active:before {
      background-color: $green-200;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__link--phone {
    padding-left: 34px;

    &::before {
      background-image: url("../images/sprite.svg#tel");
      height: 22px;
      width: 22px;
    }
  }

  &__link--delivery::before {
    background-color: $white;
    -webkit-mask-image: url('../images/sprite.svg#del-address');
    mask-image: url('../images/sprite.svg#del-address');
    @extend %icons-masks;
    height: 22px;
    width: 32px;
  }
}

.catalog {
  display: block;
  background-image: url("../images/icons/сhevron-bottom.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 17px top 50%, 0 0;
  background-color: $white;
  color: $green-900;
  @extend %opensans-600;
  letter-spacing: 0.03em;
  padding: 15px 38px 15px 61px;
  border-radius: 6px;
  appearance: none;
  max-width: 240px;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
}

.catalog-wrapper {
  position: relative;
  margin-right: 30px;

  &::after {
    position: absolute;
    content: "";
    @extend %for-images;
    background-image: url("../images/icons/nav_icon.svg");
    height: 17px;
    width: 25px;
    top: 15px;
    left: 18px;
  }
}

.search-bar {
  background-color: $white;
  border-radius: 6px;
  margin-right: 46px;
  display: flex;
  justify-content: space-between;
  max-width: 576px;
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: url("../images/sprite.svg#search");
    @extend %for-images;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 13px;
  }


  &__input {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    padding-left: 51px;
    line-height: 1.4;
    color: $dark-800;
    @extend %opensans-400;

    &::placeholder {
      font-size: 14px;
      letter-spacing: 0.03em;
    }
  }

  &__btn {
    display: block;
    background-color: $dark-800;
    color: $white;
    padding: 15px 52px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    line-height: 1.4;
    @extend %opensans-600;
    letter-spacing: 0.03em;
    transition: background-color .3s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0 0 0 4px $opacity-btn;
      border-radius: 0 6px 6px 0;
    }

    &:active {
      box-shadow: inset 0 4px 4px $active-btn;
      border-radius: 0 6px 6px 0;
      color: $opacity-btn;
    }
  }
}

.user-nav {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 0;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: background-color .3s, fill-opacity .3s;
  }

  &__link--user {
    width: 25px;
    height: 32px;
  }

  &__link--heart {
    width: 32px;
    height: 28px;
  }

  &__link--cart {
    width: 32px;
    height: 31px;
  }

  &__link:hover {
    background-color: $white-oppacity;
    border-radius: 3px;
  }

  &__link:focus {
    box-shadow: inset 0 0 0 3px $green-100;
    border-radius: 3px;
  }

  &__link:active {
    background-color: $white-oppacity;
    border-radius: 3px;
    fill-opacity: 0.5;
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    top: 3px;
    left: 3px;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
    @extend %opensans-600;
    color: $red-900;
    z-index: 200;
  }

}

.top-slider {

  &__inner {
    position: relative;
  }

  &__item {
    padding-top: 142px;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__content {
    padding: 24px 0 24px 24px;
    border-radius: 4px;
    background-color: $background-slider;
  }

  &__title {
    max-width: 780px;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    @extend %ruda-900;
    color: $dark-500;
    margin-bottom: 8px;

    & span {
      color: $red-900;
    }
  }

  &__descr {
    max-width: 900px;
    font-size: 16px;
    @extend %opensans-400;
    color: $dark-500;
    margin-bottom: 32px;
  }

  &__link {
    display: inline-block;
    @extend %button;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-btn;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
      border-radius: 6px;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $active-btn;
      border-radius: 6px;
      background-color: $green-900;
      color: $opacity-btn;
    }
  }

}

.container-top {
  width: 100%;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.top-slider {
  position: relative;

  & .slick-arrow {
    position: absolute;
    top: calc(50% - 30px);
    z-index: 10;
    font-size: 0;
    @extend %for-images;
    border-radius: 6px;
    transition: background-color 0.3s;

    &:focus {
      box-shadow: 0px 0px 0px 3px $focus-slider;
      border-radius: 6px;
    }

    &:hover {
      background-color: $green-200;
    }

    &:active {
      background-color: $slider-bg;
    }
  }

  & .slick-next {
    right: 50px;
    transform: scale(-1, 1);
  }

  & .slick-prev {
    left: 50px;
  }

  & .slick-prev,
  & .slick-next {
    width: 60px;
    height: 60px;
    background-color: $background-slider;

    &::before {
      position: absolute;
      content: "";
      background-color: $slider-arrow;
      -webkit-mask-image: url('../images/sprite.svg#chevron-slider');
      mask-image: url('../images/sprite.svg#chevron-slider');
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      width: 18px;
      height: 32px;
      top: 14px;
      left: 21px;
      background-repeat: no-repeat;
      transition: background-color 0.3s;
    }

    &:hover:before {
      background-color: $green-900;
    }

    &:active:before {
      background-color: $green-900;
    }
  }
}

.advantages {
  background-color: $silver-100;
  padding: 48px 0px 29px 0px;
  margin-bottom: 72px;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 923px;
    width: 100%;

  }

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    position: relative;
  }

  &__item--del {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/scooter.svg');
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
    }
  }

  &__item--return {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/return-box.svg');
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
    }
  }

  &__item--24h {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/24-hours.svg');
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__text {
    @extend %opensans-400;
    color: $dark-500;
  }
}

.top-products {
  margin-bottom: 72px;

  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.03em;
    @extend %ruda-600;
    text-align: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__more {
    display: block;
    margin: 0 auto;
    @extend %button;
    background-color: $white;
    color: $green-900;
    border: 1px solid $green-900;
    padding: 11px 23px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $focus-slider;
      border-radius: 6px;
    }

    &:active {
      box-shadow: inset 0px 10px 4px $product-hover;
      border-radius: 6px;
      color: $focus-slider;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 49px;

  &__categories:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.03em;
    @extend %opensans-700;
    color: $dark-500;
    transition: color 0.3s;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      border-bottom: 3px solid $green-200;
      box-shadow: none;
    }
  }
}

.product {
  border: 1px solid $product-border;
  border-radius: 6px;
  position: relative;
  padding-top: 57px;
  transition: border 0.3s;

  &:hover {
    .product__link {
      transform: translateY(0);
    }

    .product__box:before {
      background: $product-hover;
    }
  }

  &:hover {
    border: 1px solid $green-900;
  }


  &__bage {
    position: absolute;
    font-size: 10px;
    letter-spacing: 0.03em;
    line-height: 1;
    @extend %opensans-700;
    color: $white;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 6px;
    left: 12px;
  }

  &__bage--green {
    background-color: $green-900;
    top: 12px;
  }

  &__bage--red {
    background-color: $red-900;
    top: 34px;
  }

  &__bage--red2 {
    background-color: $red-900;
    top: 12px;
  }

  &__bage--orange {
    background-color: $orange-900;
    top: 12px;
  }

  &__btn-like {
    position: absolute;
    background-color: $silver-600;
    -webkit-mask-image: url('../images/sprite.svg#heart');
      mask-image: url('../images/sprite.svg#heart');
    @extend %icons-masks;
    width: 32px;
    height: 28px;
    top: 16px;
    right: 12px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $yellow-900;
    }

    &:active {
      background-color: $yellow-900;
      opacity: 0.5;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }
  }

  &__box {
    max-height: 215px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: none;
      transition: background 0.3s;
    }
  }

  &__link {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    transform: translateY(300%);
    transition: transform 0.3s;

    &::before {
      position: absolute;
      content: "";
      background-color: $green-900;
      -webkit-mask-image: url('../images/sprite.svg#search');
      mask-image: url('../images/sprite.svg#search');
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      z-index: 20;
    }
  }

  &__info {
    margin: 18px 18px 16px;
    letter-spacing: 0.03em;
    position: relative;
  }

  &__title {
    font-size: 14px;
    width: 100%;
    height: 60px;
    margin-bottom: 9px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    @extend %opensans-400;
    line-height: 1;
    font-size: 14px;
  }

  &__price {
    display: block;
    font-size: 14px;
  }

  &__old-price {
    display: block;
    position: absolute;
    color: $silver-600;
    top: 0;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      border-bottom: 1px solid $silver-600;
      transform: rotate(-7deg);
      width: 100%;
      height: 50%;
      left: 0;
      top: 0;
    }
  }

  &__cart-btn {
    border-radius: 3px;
    background-color: $green-900;
    height: 32px;
    width: 32px;
    position: relative;
    transition: background-color 0.3s;

    &::before {
      position: absolute;
      content: '';
      background-image: url('../images/sprite.svg#cart');
      @extend %for-images;
      width: 16px;
      height: 16px;
      top: 8px;
      left: 8px;
    }

    &:hover {
      background-color: $hover-btn;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
      border-radius: 6px;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $active-btn;
      border-radius: 6px;
      background-color: $green-900;
    }

    &:active:before {
      opacity: 0.5;
    }
  }
}


footer {
  background-color: $dark-800;
}

.footer-top {
  padding: 30px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: $white;
    @extend %opensans-400;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    max-width: 467px;
    width: 100%;
  }

  &__social-list {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__social-link {
    display: block;
    @extend %icons-masks;
    width: 32px;
    height: 32px;
    background-color: $white;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      background-color: $green-200;
    }
  }

  &__social-link--facebook {
    -webkit-mask-image: url('../images/sprite.svg#facebook');
    mask-image: url('../images/sprite.svg#facebook');
  }

  &__social-link--youtube {
    -webkit-mask-image: url('../images/sprite.svg#youtube');
    mask-image: url('../images/sprite.svg#youtube');
  }

  &__social-link--telegram {
    -webkit-mask-image: url('../images/sprite.svg#telegram');
    mask-image: url('../images/sprite.svg#telegram');
  }

  &__social-link--instagram {
    -webkit-mask-image: url('../images/sprite.svg#instagram');
    mask-image: url('../images/sprite.svg#instagram');
  }
}

.form {

  &__label {
    display: block;
    margin-bottom: 18px;
    line-height: 1;
  }


  &__input {
    width: 182px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
    padding: 12px 12px 12px;
    line-height: 16.34px;

    &::placeholder {
      font-size: 14px;
      line-height: 1;
      height: 16px;
      @extend %opensans-400;
    }
  }

  &__btn {
    background-color: $green-900;
    padding: 12px 16px;
    border-radius: 0 6px 6px 0;
    color: $white;
    @extend %opensans-700;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 16.34px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-btn;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 0 6px 6px 0;
    }

    &:active {
      box-shadow: inset 0px 4px 4px $active-btn;
      border-radius: 0 6px 6px 0;
      background-color: $green-900;
      color: $opacity-btn;
    }
  }
}

.footer-top-item:not(:last-child) {
  margin-bottom: 18px;
}

.footer-bottom {
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__copy {
    color: $white;
    @extend %opensans-400;
    text-transform: uppercase;
  }

  &__accept {
    display: flex;
  }

  &__accept-visa {
    background-image: url('../images/icons/visa.svg');
    @extend %for-images;
    display: block;
    width: 93px;
    height: 29px;
    margin-right: 24px;
  }

  &__accept-mastercard {
    background-image: url('../images/icons/mstercard.svg');
    @extend %for-images;
    display: block;
    width: 49px;
    height: 29px;
  }
}

@import 'media';